<div class="container">
  <div fxLayout="row">
    <mat-toolbar color="primary">
      <span>Angular4-Twitter</span>
    </mat-toolbar>
  </div>
</div>

<div id="loginWrap">
  <div fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="loginCard">
      <div id="loginTitle">Login to continue</div>
      <form>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <mat-form-field>
              <input matInput placeholder="Please enter username">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Please enter password">
            </mat-form-field>
            <br/>
            <br/>
            <button mat-raised-button color="primary">Login</button>

          </div>
        </mat-card-content>
      </form>

    </mat-card>
  </div>
</div>